target/
test-output/
bin/
.settings/
*.pyc
*.class
*.jar
*.war
*.ear
*.log
*.bak
*.swp
*.tmp
*.classpath
*.project
*.DS_Store
.metadata
*.policy
*Servers

*.html
*.gif
*.png
*.prefs
*.name
*.component
*.css
*.js
*.index
*.policy
*.cache
*.txt
*.dat
*.ini


.metadata/.lock

.metadata/.log

*.zip

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.log

*.lck

*.db

*.version

*.index

*.xmi

*.dat

*.tree

*.resources

*.MF

v2/messages/.classpath

v2/messages/.settings/org.eclipse.wst.common.project.facet.core.xml

.idea/*

*.iml
