target/
test-output/
bin/
.settings/
*.pyc
*.class
*.jar
*.war
*.ear
*.log
*.bak
*.swp
*.tmp
*.classpath
*.project
*.DS_Store
.metadata
*.policy
*Servers


.metadata/.lock

.metadata/.log

*.zip

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.log

*.lck

*.db

*.version

*.index

*.xmi

*.dat

*.tree

*.resources

*.MF

.idea/*

*.iml
